---
import config from "@/config/config.json";

const { post } = Astro.props;
const { blog_folder } = config.settings;
---

<a href={`/${blog_folder}/${post.slug}`} class="block group h-full">
  <div class="bg-white dark:bg-theme-dark p-6 rounded-xl border border-border dark:border-dark transition-all duration-300 hover:shadow-lg hover:border-primary/50 group-hover:-translate-y-1 h-full flex items-center">
    <h2 class="h5 font-bold text-text dark:text-white group-hover:text-primary transition-colors w-full text-center">
      {post.data.title}
    </h2>
  </div>
</a>
