---
import { markdownify } from "@/lib/utils/textConverter";

const { post } = Astro.props;
const { Content } = await post.render();
const { title } = post.data;
---

<section class="section pt-12">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 md:col-10 lg:col-8">
        <article>
          <div class="mb-12 text-center">
            <h1 set:html={markdownify(title)} class="h2 lg:h1 mb-4 font-extrabold text-dark dark:text-white tracking-tight" />
            <hr class="w-24 h-1 mx-auto bg-primary rounded border-0">
          </div>
    
          <div class="content prose prose-lg dark:prose-invert max-w-none prose-headings:font-bold prose-headings:tracking-tight prose-a:text-primary hover:prose-a:text-primary/80 prose-img:rounded-xl prose-img:shadow-lg">
            <Content />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
